<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayPal Spring Boot Application</title>
</head>
<body>
<p>Product COST: $7.99 USD <a href="?action=add">+</a> <a href="?action=sub">-</a> <a href="?action=reset">Reset</a></p>
<div class="cart" style="width: 400px;height: 400px;display: flex;justify-content: center;align-items: center;background-color: #888;flex-direction: column;">
    <div><span>Products in Shopping Cart:</span><span th:text="${count}"></span></div>
    <div><span>Price of Shopping Cart:</span><span th:text="${price}"></span></div>
</div>
<form th:action="@{/pay}" method="post">
    <input type="hidden" name="price" th:value="${price}">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" style="width: 400px;" placeholder="you can add a description here (not required)">

    <input type="submit" value="Continue to checkout">
</form>
</body>
</html>